table#table-point-votes{
	border-collapse: collapse;
}

table#table-point-votes, table#table-point-votes tr, table#table-point-votes td, table#table-point-votes th{
	border: 1px solid #dcdcdc;
}

table#table-point-votes tr{
	background-color: #fff;
}

table#table-point-votes td,table#table-point-votes th{
	padding-left : 20px;
	padding-right : 20px;
	text-align: left;
}

table#table-point-votes th{
	cursor : pointer;
}

table#table-point-votes th:hover,table#table-point-votes th:active,table#table-point-votes th.sorting_desc,table#table-point-votes th.sorting_asc{
	background: #f2f2f2 !important;
	color : #000 !important;
}

table#table-point-votes th.sorting_desc:after{
	background-image: url("https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-descending.png");
	background-size: 100% 100%;
	float: right;
	content: " ";
	width: 24px;
	height: 24px;
}

table#table-point-votes th.sorting_asc:after {
	background-image: url("https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-ascending.png");
	background-size: 100% 100%;
	float: right;
	content: " ";
	width: 24px;
	height: 24px;
}

.votes-up{
	float:left;
	width : 50%;
	color : #4CD964;
	line-height : 26px;
}

.votes-up:before{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-thumbsup.png);
	content: " ";
	width: 24px;
	height: 24px;
	background-size: 100% 100%;
	float: left;
}

.votes-down{
	float:right;
	width : 50%;
	color : #FF3A30;
	line-height : 26px;
}

.votes-down:before{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-thumbsdown.png);
	content: " ";
	width: 24px;
	height: 24px;
	background-size: 100% 100%;
	float: left;
}

.votes-total{
	clear : both;
	display : block;
	float : none;
	color : #9ca49d;
	font-size : 14px;
  	line-height : 26px;
}

/*
	red : #af0500 : rgba(175, 5, 0, 1);
	green : #0e7f00 : rgba(14, 127, 0, 1);
	amber : #af6800 : rgba(175, 104, 0, 1);
*/
.rollover-color{
	background-size: 200% 100%;
	-webkit-transition: background-position 0.3s ease-out; /* For Safari 3.1 to 6.0 */
    transition: background-position 0.3s ease-out;
}

.rollover-color.red{
	background-position: -2% 0%;
	background-image : linear-gradient(to left, rgba(255, 58, 48, 1) 50%, rgba(0, 0, 0, 0) 50%);;

}

.rollover-color.green{
	background-position: -2% 0%;
	background-image : linear-gradient(to left, rgba(76,217,100, 1) 50%, rgba(0, 0, 0, 0) 50%);;

}

.rollover-color.amber{
	background-position: -2% 0%;
	background-image : linear-gradient(to left, rgba(255,149,0, 1) 50%, rgba(0, 0, 0, 0) 50%);;

}

.rollover-color:hover{
	background-position: -100% 0%;
}

tr.red,tr.amber,tr.green{
	-webkit-transition: background-position 0.3s ease-out; /* For Safari 3.1 to 6.0 */
    transition: background-position 0.3s ease-out;
}

tr.red:hover{
	background-color:rgba(255, 58, 48, 0.1) !important;
}

tr.amber:hover{
	background-color:rgba(255, 149, 0, 0.1) !important;
}

tr.green:hover{
	background-color:rgba(76, 217, 100, 0.1) !important;
}

p#votes-total-count {
  font-family : "Montserrat";
  font-size : 60px;
  color : #00ACED;
  color : rgb(0, 172, 237);
  border-bottom : 1px solid #e5e5e5;
}

p#votes-total-count:after{
	content : url("https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-people.png");
	float : right;
}

p.votes-total-text {
  font-family : "Montserrat";
  font-size : 22px;
  line-height : 26px;
  color : #00ACED;
  color : rgb(0, 172, 237);
}

.tos-votes-description p{
	font-weight: bold;
}

.service{
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left : 30px;
}

.facebook{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-facebook.png);
}

.twitter{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-twitter.png);
}

.flickr{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-flickr.png);
}

.duckduckgo{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-duckduckgo.png);
}

.foursquare{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-foursquare.png);
}

.googleplus{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-googleplus.png);
}

.instagram{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-instagram.png);
}

.linkedin{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-linkedin.png);
}

.microsoft{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-microsoft.png);
}

.pinterest{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-pinterest.png);
}

.youtube{
	background-image: url(https://raw.githubusercontent.com/cferretti/data-test/master/assetscitizenme/tos-assets/icon-youtube.png);
}